.env
__pycache__/
*.pyc
.idea/
.vscode/
.cache/
.config/
logs/
.zsh_history
.zcompdump
.viminfo
.bashrc
.zshrc
.DS_Store
.vimrc
.gitconfig
.cursor-server/
.vscode-server/
.windsurf-server/
datas/iu_xray/

datas/llm_cache/
